<!-- <router-outlet /> -->
<div class="w-1/2 p-2 pt-4 flex flex-col gap-4">
  <div class="w-full flex flex-row gap-2 items-center">
    <mat-form-field
      appearance="outline"
      subscriptSizing="dynamic"
      class="w-full"
    >
      <mat-label>URL</mat-label>
      <input
        matInput
        placeholder="enter url"
        [(ngModel)]="wsUrl"
        [disabled]="connected"
      />
    </mat-form-field>
    <button
      mat-flat-button
      color="primary"
      [disabled]="connected"
      (click)="connect()"
    >
      Connect
    </button>
    <button
      mat-flat-button
      color="warn"
      [disabled]="!connected"
      (click)="disconnnect()"
    >
      Disconnect
    </button>
  </div>
  @if (connected) {
  <mat-divider />
  <form [formGroup]="myForm" (ngSubmit)="formSubmit()" autocomplete="off">
    <div class="w-full flex flex-row gap-2 items-center">
      <mat-form-field
        appearance="outline"
        subscriptSizing="dynamic"
        class="w-full"
      >
        <mat-label>Message</mat-label>
        <input
          matInput
          placeholder="type your message"
          formControlName="message"
        />
      </mat-form-field>
      <button mat-flat-button color="primary">Send</button>
    </div>
  </form>
  <mat-divider />
  <div class="flex flex-col gap-4">
    @for (message of messages; track $index) {
    <div
      class="w-2/3 border border-1 p-2 rounded-md"
      [class.msgme]="message.from === 'me'"
      [class.msgother]="message.from === 'other'"
    >
      {{ message.message }}
    </div>
    }
  </div>
  }
</div>
